@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .botao {
    --button-radius-lg: 0.625rem;
    --button-radius-md: 0.5rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans text-[15px] leading-normal antialiased;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.dragLine {
  border-bottom: dashed 2px rgba(245, 75, 53, 0.445) !important;
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}
